brotlipy==0.7.0
certifi
cffi
charset-normalizer
colorama
conda==4.13.0
conda-package-handling
cryptography
distlib==0.3.4
filelock==3.6.0
idna
menuinst==1.4.16
pipenv==2022.1.8
platformdirs==2.5.1
pycosat==0.6.3
pycparser
PyMySQL==1.0.2
pyOpenSSL
PySocks
pywin32==302
requests
ruamel-yaml-conda
tqdm
urllib3
virtualenv==20.13.3
virtualenv-clone==0.5.7
win-inet-pton
wincertstore==0.2
